<div class="rooms-container">
  <% rooms_data.each do |room_data| %>
    <% room = room_data[:room] %>
    <% available = room_data[:available] %>
    
    <div class="room-btn <%= available ? '' : 'unavailable' %>"
         <% if available %>
           data-room-id="<%= room.id %>"
           data-room-number="<%= room.number %>"
           onclick="window.selectRoom(this)"
         <% end %>>
      <div class="room-name"><%= room.number %>석</div>
      <div class="room-info">
        <% unless available %>
          <span class="status-unavailable">사용중</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>